<!-- <div ng-controller'links' id='container'>
  <div class='navigation'>
  <ul>
    <li><a href='#' class='index'>All Links</a></li>
    <li><a href='#' class='create'>Shorten</a></li>
  </ul>
    <a href='/logout' class='logout'>Logout</a>
  </div>
</div> -->

<div id='links'>
  <h1>LINKS</h1>

  <button ng-click='getAll()'>Get all Links</button>

  <a href="#/shorten"><strong>GO TO SHORTEN</strong></a>


  <pre>
    <ul ng-repeat="link in data.links">
      <li>{{link.url}}</li>
    </ul>

  </pre>

</div>
